#logo {
	width: 65px;
	height: 49px;
	float: left;
	background-color: #FFFFFF;
	border-radius: 100%;
}


.nav > li:hover {
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
    z-index: 444;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
}

#main_menu > li > a:hover, .dropdown-menu > li > a:focus {
    font-size: 16px;
    font-weight: bold;
    color: #ff1390;
}

.dropdown a span:hover {
    text-decoration: underline;
}

.popin {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 20px #999;
    border-radius: 2px;
    margin: 0 0.5%;
}


.about {
    display:inline-block;
}

.about img {
    display:block;
}

#logo_block span {
    float: left;
}



#fat-menu.dropdown {
    word-wrap: break-word;
    max-width: 300px;
}

.open > .dropdown-menu {
    width: inherit;
    right: 0;
}

.navbar-nav > li > .dropdown-menu {
    min-width: inherit;
    left: inherit;
}

#user_logo {
    width: 18px;
    height: 18px;
    background-color: #ca6fce;
    border-radius: 20%;
}

.open > a:hover, .nav .open > a:focus {
    background-color: #d985d7;
    border-color: #428bca;
}

#label_logo {
	float: left;
	margin-top: 15px;
	font-size: 80%;
}

.navbar {
	border-top: 0;
}

.nav-top {
    position: relative;
}

#logout {
	float: right;
}

#main_menu {
    margin: 0 auto;
}

#main_menu > li {
    padding: 0 50px;
    font-size: 16px;
}

#main_menu > li:active {
    background-color: #eee;
}

.navbar-inner .navbar-nav > .active, .navbar-inner .navbar-nav > .active:hover, .navbar-inner .navbar-nav > .active:focus{
    background-color: #949494;
    color: #fff;
    font-weight: bold;
}

.navbar-inner .navbar-nav > .active > a, .navbar-inner .navbar-nav > .active > a:hover, .navbar-inner .navbar-nav > .active > a:focus{
    color: #fff;
}

.navbar-inner {
    min-height: 40px;
    margin: 0;
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

