.block-table {
    width: 55%;
    display: inline-block;
}

body {
    min-width: 1200px;
}

.offset4 {
    float: right;
    margin-right: 5%;
}

.search_table {
    float: right;
    margin-right: 5%;
}

.block-info {
    display: inline-block;
    position: fixed;
    margin-left: 5%;
    right: 10px;
    width: 35%;
    min-width: 380px;
    top: 70px;
}

.closeInfo {
    position: absolute;
}

.block-info.invisible {
    display: none;
}

.list-stuffs {
    width: 40%;
    margin: 15px;
    min-width: 197px;
    display: inline-block;
}

.create-stuff {
    width: 40%;
    margin: 15px;
    display: inline-block;
    min-width: 200px;
    position: fixed;
    right: 15px;
    float: right;
}

.remove-stuff-button-block {
    margin: 0 auto;
    outline: none;
}

#remove-stuff {
    float: right;
}

#remove-stuff:hover, #remove-stuff:focus, #remove-stuff:active  {
    outline: none;
}

.fix-header {
    margin: auto;
    text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#dialog-confirm {
    overflow-y : auto;
    min-width: 466px;
}

.popover-inner {
    display: inline-block;
    width: 400px;
    height: 350px;
}

.popover-title { display: none; }

.popover-content {
    display: block;
}

#gmapsCreateStuff {
    display: inline-block;
    height: 100%;
    width: 100%;
}


.popover-content {
    height: 100%;
}

.popover {
    width: 400px;
    max-width: 400px;
    height: 300px;
}

li.list-group-item:hover{
    background-color: #eaeaea;
}

li.list-group-item.selected {
    background-color: #a1aec7;
}

#dialog-confirm .modal-body {
    min-height: 400px;
}

.fix-td > tr > td {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    display: inline-block;
    text-align:center;
    white-space: nowrap;
}

#stuffs > table > thead >tr > th {
    text-align: center;
}

#dialog-ship .modal-dialog {
    width: 1024px;
}

.ship-block {
    display: inline-block;
}

.ship-block.left {
    width: 26%;
    margin-right: 3%;
    float: left;
}
.ship-block.right {
    width: 34%;
    float: right;
    text-align: right;
}
.ship-block.center {
    width: 33%;
    margin: auto;
    text-align: center;
}

.table > thead > tr > th {
    text-align: center;
}

.fix-panel {
    margin-top: 10px;
}

#select-truck {
    float: right;
}

#add-driver {
    float: left;
}

#available-trucks > tr:hover, #available-drivers > tr:hover{
    background-color: #eaeaea;
}

#available-trucks > tr.selected, #available-drivers > tr.selected {
    background-color: #a1aec7;
}

.strong {
    font-weight: bold;
}

#truck {
    text-align: center;
    color : #b9899f;
}

#truck > h4 {
    font-weight:bold;
    font-style: italic;
    margin: 15px 0;
}

#truck > p {
    margin: 20px 0;
    color: #ad9cff;
    font-weight: bold;
}

#contentCreateStuffMap {
    display: none;
}