#pane {
    -fx-border-width: 1pt;
    -fx-border-color: #000000, linear-gradient(#dfe0d6 0%, #8c8d83 20%, #adadad 100%), linear-gradient(#8c8d83, #adadad), radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
}

#info {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-border-image-source: inherit;
}

#info:hover {
    -fx-background-color: null;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-border-style: dotted;
    -fx-shape: "M 0 0 L 100 0 L 130 15 L 100 30 L 0 30 z";
    -fx-border-color: #0e3e80;
}

#management {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-border-image-source: inherit;
}

#management:hover {
    -fx-background-color: null;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-border-style: dotted;
    -fx-shape: "M 0 0 L 100 0 L 130 15 L 100 30 L 0 30 z";
    -fx-border-color: #0e3e80;
}

.pressed {
    -fx-background-color: #88b7d5 !important;
    -fx-border-color: #c2e1f5;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: null;
    -fx-font-size: 18px !important;
    -fx-text-fill: #e64361;
    -fx-shape: "M 0 0 L 100 0 L 130 15 L 100 30 L 0 30 z";
}

#closeButton:pressed {
    -fx-background-color: #e64361;
}

#closeButton {
    -fx-background-image: url("../images/close.png");
    -fx-background-color: #FFFFFF;
}

#minimizeButton:pressed {
    -fx-background-color: #e64361;
}

#minimizeButton {
    -fx-background-image: url("../images/minimize.png");
    -fx-background-color: #FFFFFF;
}

#tabPane {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected {
    -fx-background-color: #88b7d5;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #e64361;
}

#childPane {
    -fx-border-width: 1pt;
    -fx-border-color: #88b7d5, linear-gradient(#dfe0d6 0%, #8c8d83 20%, #adadad 100%), linear-gradient(#8c8d83, #adadad), radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
}

#shiftButton {
    -fx-background-color: linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%), linear-gradient(#e6e6e6, #9d9d9d), radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255, 255, 255, 0));
    -fx-text-fill: #e64361;
}

#shiftButton:hover {
    -fx-background-color: linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%), linear-gradient(#e6e6e6, #c9c9c9), radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255, 255, 255, 0));
}

#shiftButton:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #838383, linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%), linear-gradient(#e6e6e6, #464646), radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255, 255, 255, 0));;
}

#shiftButton:selected {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #838383, linear-gradient(#494a40 0%, #44453f 20%, #b7b7b7 100%);
}

#drivingButton {
    -fx-background-color: linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%), linear-gradient(#e6e6e6, #9d9d9d), radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255, 255, 255, 0));
    -fx-text-fill: #e64361;
}

#drivingButton:hover {
    -fx-background-color: linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%), linear-gradient(#e6e6e6, #c9c9c9), radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255, 255, 255, 0));
}

#drivingButton:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #838383, linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%), linear-gradient(#e6e6e6, #464646), radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255, 255, 255, 0));;
}

#drivingButton:selected {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #838383, linear-gradient(#494a40 0%, #44453f 20%, #b7b7b7 100%);
    -fx-border-color: #88b7d5;
}


