#pane {
    -fx-base: rgba(254, 255, 240, 0);
    -fx-background: rgba(50, 50, 50, 0.33);
    -fx-control-inner-background: rgb(230, 230, 230);
    -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
    -fx-border-width: 1pt;
    -fx-border-color: #000000,
        linear-gradient(#dfe0d6 0%, #8c8d83 20%, #adadad 100%),
        linear-gradient(#8c8d83, #adadad),
    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}


#login_button {
     -fx-background-color:
         #e64361,
         linear-gradient(#dfe0d6 0%, #8c8d83 20%, #adadad 100%),
         linear-gradient(#8c8d83, #adadad),
         radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
     -fx-background-radius: 3,2,1,3;
     -fx-background-insets: 0,1,2,0;
     -fx-text-fill: #000000;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
     -fx-font-family: "Arial";
     -fx-font-size: 12px;
     -fx-padding: 5 10 5 10
 }

#cancel_button {
    -fx-background-color:
        #e64361,
        linear-gradient(#dfe0d6 0%, #8c8d83 20%, #adadad 100%),
        linear-gradient(#8c8d83, #adadad),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 3,2,1,3;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-padding: 5 10 5 10
}

#cancel_button:pressed {
    -fx-background-color:
        -fx-shadow-highlight-color,
        #e64361,
        linear-gradient(#77786e 0%, #65665c 20%, #adadad 100%),
        linear-gradient(#73746a, #828282),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-text-fill: #feffff;
}

#login_button:pressed {
    -fx-background-color:
        -fx-shadow-highlight-color,
        #e64361,
        linear-gradient(#77786e 0%, #65665c 20%, #adadad 100%),
        linear-gradient(#73746a, #828282),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-text-fill: #feffff;
}

#close_button:pressed {
    -fx-background-color: #e64361 ;
}

#close_button {
    -fx-background-image: url("../images/close.png");
    -fx-background-color:linear-gradient(rgba(41, 21, 226, 0.07), rgba(90, 91, 244, 0.16) 48%, rgba(61, 69, 234, 0.19) 52%, rgba(31, 19, 240, 0.18));;
}

#minimize_button:pressed {
    -fx-background-color: #e64361 ;
}

#minimize_button {
    -fx-background-color:linear-gradient(rgba(41, 21, 226, 0.07), rgba(90, 91, 244, 0.16) 48%, rgba(61, 69, 234, 0.19) 52%, rgba(31, 19, 240, 0.18));;
    -fx-background-image: url("../images/minimize.png");
}

