#pane {
    -fx-border-width: 3pt;
    -fx-border-color: linear-gradient(rgba(41, 21, 226, 0.07), rgba(90, 91, 244, 0.16) 48%, rgba(61, 69, 234, 0.19) 52%, rgba(31, 19, 240, 0.18));
}

#title {
    -fx-background-color:
        linear-gradient(rgba(41, 21, 226, 0.07), rgba(90, 91, 244, 0.16) 48%, rgba(61, 69, 234, 0.19) 52%, rgba(31, 19, 240, 0.18));
    -fx-background-radius: 50%;
}

#drivers {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-border-image-source:inherit;
}

.pressed {
    -fx-background-color:  #88b7d5 !important;
    -fx-border-color: #c2e1f5;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: null;
    -fx-font-size: 18px !important;
    -fx-text-fill: #e64361;
    -fx-shape: "M 0 0 L 100 0 L 130 15 L 100 30 L 0 30 z";
}

#orders:hover {
    -fx-background-color: null;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-border-style: dotted;
    -fx-shape: "M 0 0 L 100 0 L 130 15 L 100 30 L 0 30 z";
    -fx-border-color: #0e3e80;
}

#trucks:hover {
    -fx-background-color: null;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-border-style: dotted;
    -fx-shape: "M 0 0 L 100 0 L 130 15 L 100 30 L 0 30 z";
    -fx-border-color: #0e3e80;
}

#drivers:hover {
    -fx-background-color: null;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-border-style: dotted;
    -fx-shape: "M 0 0 L 100 0 L 130 15 L 100 30 L 0 30 z";
    -fx-border-color: #0e3e80;
}

#orders {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-border-image-source:inherit;
}

#trucks {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-border-image-source:inherit;
}


#close_button:pressed {
    -fx-background-color: #e64361 ;
}

#close_button {
    -fx-background-color:
        rgba(179, 198, 215, 0.90);
    -fx-background-image: url("../images/close.png");
}

#minimize_button:pressed {
    -fx-background-color: #e64361 ;
}

#minimize_button {
    -fx-background-color:
        rgba(179, 198, 215, 0.90);
    -fx-background-image: url("../images/minimize.png");
}

#refreshButton {
    -fx-background-image: url("../images/refresh.png");
    -fx-background-color: rgba(176, 176, 176, 0.41);
}

#refreshButton:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#refreshButton:pressed {
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}

#addTruckButton {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#addTruckButton:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#addTruckButton:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}


#removeTruckButton {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#removeTruckButton:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#removeTruckButton:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}

#tableTrucks {
    -fx-background-color: #FFFFFF;
}

#addDriverButton {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#addDriverButton:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#addDriverButton:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}


#removeDriverButton {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#removeDriverButton:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#removeDriverButton:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}

#tableDrivers {
    -fx-background-color: #FFFFFF;
}

#paginationPane {
    -fx-background-color: #FFFFFF;
}

#scrollPane {
    -fx-border-color: #FFFFFF;
    -fx-background-color: #FFFFFF;
}

.pagination {
    -fx-background-color: rgba(176, 176, 176, 0);
}

.pagination .page {
    -fx-background-color: rgba(176, 176, 176, 0);
}

.pagination .pagination-control {
    -fx-background-color: rgba(176, 176, 176, 0) !important;
}

.pagination .pagination-control .bullet-button {
    -fx-background-color: transparent, #DDF1F8, #e64361, white, white;
}

.pagination .pagination-control .bullet-button:selected {
    -fx-background-color: transparent, #DDF1F8, #e64361, white, #e64361;
}

.pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: #DDF1F8, #e64361;
}



#countRows {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#countRows:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#countRows:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}

#tableOrders {
    -fx-background-color: #FFFFFF;
}

.selected_row_color {
    -fx-background-color: #88b7d5;
}

.selected_row_arrow {
    -fx-shape: "M 0 100 L 300 100 L 200 300 z";
}

#driverTabOrders {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #e64361;
}

#driverTabOrders:selected {
    -fx-background-color: rgba(54, 59, 220, 0.39);
    -fx-text-fill: #e64361;
}

#stuffsTabOrders {
    -fx-text-fill: #e64361;
}

#truckTabOrders {
    -fx-text-fill: #e64361;
}

#tabPaneOrders {
    -fx-background-color: #FFFFFF;
}

#tableDriversTab {
    -fx-background-color: rgba(37, 16, 242, 0.20);
}

#tableStuffsTab {
    -fx-background-color: rgba(37, 16, 242, 0.20);
}

#paneTruckTabs {
    -fx-background-color: rgba(37, 16, 242, 0.20);
}

#addOrder {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#addOrder:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#addOrder:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}

#closeOrder {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#closeOrder:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#closeOrder:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}

#removeButton {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#removeButton:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#removeButton:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}
