#warning_button_num {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-background-image: url("../images/back.png");
}

#warning_button_class {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-background-image: url("../images/back.png");
}

#pane {
    -fx-border-width: 1pt;
    -fx-border-color: #000000,
    linear-gradient(#dfe0d6 0%, #8c8d83 20%, #adadad 100%),
    linear-gradient(#8c8d83, #adadad),
    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.error {
    -fx-background-image: url("../images/warning.png") !important;
}

#close_button:pressed {
    -fx-background-color: #e64361 ;
}

#close_button {
    -fx-background-image: url("../images/close.png");
    -fx-background-color:#FFFFFF;
}


#add_button {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#add_button:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}

#add_button:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#cancel_button {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#cancel_button:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#cancel_button:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}