#addPane {
    -fx-border-width: 1pt;
    -fx-border-color: #000000,
    linear-gradient(#dfe0d6 0%, #8c8d83 20%, #adadad 100%),
    linear-gradient(#8c8d83, #adadad),
    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

#nextButton {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}


#nextButton:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#nextButton:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}

#cancelButton {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#cancelButton:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#cancelButton:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}

#listStuffs {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1pt;
    -fx-border-color: #000000,
    linear-gradient(#dfe0d6 0%, #8c8d83 20%, #adadad 100%),
    linear-gradient(#8c8d83, #adadad),
    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

#closeButton {
    -fx-background-image: url("../images/close.png");
    -fx-background-color:#FFFFFF;
}

#closeButton:pressed {
    -fx-background-color: #e64361 ;
}

#createStuffButton {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#createStuffButton:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#createStuffButton:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}

#removeStuffButton {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#removeStuffButton:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#removeStuffButton:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}

#cloneStuffButton {
    -fx-background-color:
        linear-gradient(#cbccc2 0%, #a6a7a1 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #9d9d9d),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#cloneStuffButton:hover {
    -fx-background-color:
        linear-gradient(#e1e2d8 0%, #bdbeb8 20%, #cacaca 100%),
        linear-gradient(#e6e6e6, #c9c9c9),
        radial-gradient(center 50% 0%, radius 100%, rgba(172, 172, 172, 0.90), rgba(255,255,255,0));
}

#cloneStuffButton:pressed {
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
        #838383,
        linear-gradient(#6e6f65 0%, #44453f 20%, #535353 100%),
        linear-gradient(#e6e6e6, #464646),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0, 0.90), rgba(255,255,255,0));;
}

